<?xml version="1.0" encoding="utf-8"?>
<ServerOption xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <httpListener>
        <option protocol="http" port="4567" />
    </httpListener>
    <modules>
        <type>ClownFish.RequestLogConsole.RequestLogHttpModule, ClownFish.RequestLogConsole</type>
    </modules>

</ServerOption>