<?xml version="1.0" encoding="utf-8"?>
<ServerOption xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <httpListener>
        <option protocol="http" port="3008" />
    </httpListener>
    <appSettings>
        <!--<add key="proxy-rule-1" value="/v20/api/ = http://10.5.11.29:9912" />-->
    </appSettings>
    <modules>
        <!--<type>ClownFish.HttpServer.Proxy.HttpProxyModule, ClownFish.HttpServer</type>-->
    </modules>
    <handlers>
        <type>ClownFish.HttpServer.Handlers.DirectoryBrowseHandlerFactory, ClownFish.HttpServer</type>
    </handlers>
    <website>
        <localPath>D:\my-github\ClownFish.net</localPath>
        <!--<localPath>D:\TempLink\temp\static-files</localPath>-->
        <directoryBrowse>
            <defaultFile>index.html; index.htm; default.html</defaultFile>
        </directoryBrowse>
        <CacheDuration>31536000</CacheDuration>
        <staticFile>
            <option ext=".htm" mime="text/html" />
            <option ext=".html" mime="text/html" />
            <option ext=".xml" mime="application/xml" />
            <option ext=".js" mime="application/javascript" />
            <option ext=".css" cache="31536000" mime="text/css" />
            <option ext=".png" cache="31536000" mime="image/png" />
            <option ext=".jpg" cache="31536000" mime="image/jpeg" />
            <option ext=".gif" cache="31536000" mime="image/gif" />
            <option ext=".txt" mime="text/plain" />
            <option ext=".log" mime="text/plain" />
            <option ext=".eot" />
            <option ext=".svg" />
            <option ext=".ttf" />
            <option ext=".woff" />
            <option ext=".woff2" />
            <option ext=".map" />
        </staticFile>
    </website>
</ServerOption>