<?xml version="1.0" encoding="utf-8"?>
<ArrayOfXmlCommand xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <XmlCommand Name="DeleteCustomer" Database="MyNorthwind">
        <Parameters>
            <Parameter Name="@CustomerID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
delete from Customers
where CustomerID = @CustomerID;
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="GetCustomerById">
        <Parameters>
            <Parameter Name="@CustomerID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
select * from Customers where CustomerID = @CustomerID;
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="GetCustomerList" Database="MyNorthwind">
        <Parameters>
            <Parameter Name="@SearchWord" Type="String" Size="50" />
            <Parameter Name="@PageIndex" Type="Int32" />
            <Parameter Name="@PageSize" Type="Int32" />
            <Parameter Direction="InputOutput" Name="@TotalRecords" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
declare @ResultTable table
(
    RowIndex int,
    CustomerID int,
    CustomerName nvarchar(100),
    ContactName nvarchar(50),
    [Address] nvarchar(50),
    PostalCode nvarchar(10),
    Tel nvarchar(50)
);
 
if( len(@SearchWord) > 0 )
    begin
        set @SearchWord = N'%' + @SearchWord + N'%';
        insert into @ResultTable
        select row_number() over (order by CustomerID asc) as RowIndex, c.*
        from   Customers as c
        where c.CustomerName like @SearchWord;
    end
else
    insert into @ResultTable
    select row_number() over (order by CustomerID asc) as RowIndex, c.*
    from   Customers as c;
 
      
select  @TotalRecords = count(*) from  @ResultTable;
      
select *
from   @ResultTable
where  RowIndex > (@PageSize * @PageIndex) and RowIndex <= (@PageSize * (@PageIndex+1));
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="GetMostValuableCustomers">
        <Parameters>
            <Parameter Name="@TopN" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
select top (@TopN) * from (
	select 
		c.CustomerID as [BaseInfo.CustomerID], 
		c.CustomerName as [BaseInfo.CustomerName],  
		c.ContactName as [BaseInfo.ContactName], 
		c.Tel as [BaseInfo.Tel],  
		c.Address as [AddrInfo.Address], 
		c.PostalCode as [AddrInfo.PostalCode],  
		(select count(*) from Orders where CustomerID = c.CustomerID) as [OrdersInfo.Count],
		(select sum(SumMoney) from Orders where CustomerID = c.CustomerID) as [OrdersInfo.SumMoney]
	from Customers as c
	) as t
where [OrdersInfo.Count] > 0
order by [OrdersInfo.SumMoney] desc;
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="InsertCustomer">
        <Parameters>
            <Parameter Name="@CustomerName" Type="String" Size="50" />
            <Parameter Name="@ContactName" Type="String" Size="50" />
            <Parameter Name="@Address" Type="String" Size="50" />
            <Parameter Name="@PostalCode" Type="String" Size="10" />
            <Parameter Name="@Tel" Type="String" Size="50" />
            <Parameter Direction="InputOutput" Name="@CustomerID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[insert into Customers (CustomerName, ContactName, [Address], PostalCode, Tel) 
values( @CustomerName, @ContactName, @Address, @PostalCode, @Tel);

set @CustomerID = scope_identity();

]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="UpdateCustomer">
        <Parameters>
            <Parameter Name="@CustomerName" Type="String" Size="50" />
            <Parameter Name="@ContactName" Type="String" Size="50" />
            <Parameter Name="@Address" Type="String" Size="50" />
            <Parameter Name="@PostalCode" Type="String" Size="10" />
            <Parameter Name="@Tel" Type="String" Size="50" />
            <Parameter Name="@CustomerID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
update Customers  
set CustomerName = @CustomerName,  
    ContactName = @ContactName,  
    [Address] = @Address,  
    PostalCode = @PostalCode,  
    Tel = @Tel  
where CustomerID = @CustomerID;
]]></CommandText>
    </XmlCommand>
</ArrayOfXmlCommand>