<?xml version="1.0" encoding="utf-8"?>
<ArrayOfXmlCommand xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <XmlCommand Name="GetOrderById">
        <Parameters>
            <Parameter Name="@OrderID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
select d.*, isnull(c.CustomerName, N'') as CustomerName 
from Orders as d left outer join Customers as c
	on d.CustomerID = c.CustomerID
where OrderID = @OrderID;]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="GetOrderDetails">
        <Parameters>
            <Parameter Name="@OrderID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
select * from OrderDetailView where OrderID = @OrderID;
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="InsertOrder">
        <Parameters>
            <Parameter Name="@CustomerID" Type="Int32" />
            <Parameter Name="@SumMoney" Type="Currency" />
            <Parameter Name="@Comment" Type="String" Size="300" />
            <Parameter Direction="InputOutput" Name="@OrderID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[insert into Orders( CustomerID, OrderDate, SumMoney, Comment)
values( @CustomerID, getdate(), @SumMoney, @Comment);
 
set @OrderID = scope_identity();
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="InsertOrderDetail">
        <Parameters>
            <Parameter Name="@OrderID" Type="Int32" />
            <Parameter Name="@ProductID" Type="Int32" />
            <Parameter Name="@Quantity" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
declare @Price money;
select @Price = (select UnitPrice from Products where ProductID = @ProductID);

insert into [Order Details] (OrderID, ProductID, UnitPrice, Quantity)
values (@OrderID, @ProductID, @Price, @Quantity);
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="RefreshOrderSumMoney">
        <Parameters>
            <Parameter Name="@OrderID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
declare @SumMoney money;
select @SumMoney = (select sum(UnitPrice * Quantity) from [Order Details] where OrderID = @OrderID);

update Orders set SumMoney = @SumMoney  where OrderID = @OrderID;
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="SearchOrder">
        <Parameters>
            <Parameter Name="@StartDate" Type="DateTime" />
            <Parameter Name="@EndDate" Type="DateTime" />
            <Parameter Name="@PageIndex" Type="Int32" />
            <Parameter Name="@PageSize" Type="Int32" />
            <Parameter Direction="InputOutput" Name="@TotalRecords" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
set @EndDate = DateAdd(d, 1, @EndDate);

declare @ResultTable table
( 
    RowIndex int, 
    OrderID int,
    CustomerID int,
    CustomerName nvarchar(50), 
    OrderDate datetime,
    SumMoney money,
    Finished bit
);
 
insert into @ResultTable 
select row_number() over (order by OrderDate desc) as RowIndex, 
       v.OrderID, v.CustomerID, v.CustomerName, v.OrderDate, v.SumMoney, v.Finished
from   OrdersView as v
where v.OrderDate >= @StartDate and v.OrderDate < @EndDate;
   
select  @TotalRecords = count(*) from  @ResultTable; 
     
select * 
from   @ResultTable 
where  RowIndex > (@PageSize * @PageIndex) and RowIndex <= (@PageSize * (@PageIndex+1));
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="SetOrderStatus">
        <Parameters>
            <Parameter Name="@OrderID" Type="Int32" />
            <Parameter Name="@Finished" Type="Boolean" />
        </Parameters>
        <CommandText><![CDATA[
update Orders
set Finished = @Finished
where OrderID = @OrderID;
]]></CommandText>
    </XmlCommand>
</ArrayOfXmlCommand>