<?xml version="1.0" encoding="utf-8"?>
<ArrayOfXmlCommand xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <XmlCommand Name="GetProductListByCategoryId">
        <Parameters>
            <Parameter Name="@CategoryID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
select row_number() over (order by ProductID asc) as RowIndex,
       p.ProductID, p.ProductName, p.CategoryID, p.Unit, p.UnitPrice, p.Quantity
from   Products as p
where CategoryID = @CategoryID
]]></CommandText>
    </XmlCommand>
</ArrayOfXmlCommand>