<?xml version="1.0" encoding="utf-8"?>
<ArrayOfXmlCommand xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <XmlCommand Name="ChangeProductQuantity">
        <Parameters>
            <Parameter Name="@ProductID" Type="Int32" />
            <Parameter Name="@Quantity" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
update Products set Quantity = @Quantity 
where ProductID = @ProductID;
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="DeleteCategory">
        <Parameters>
            <Parameter Name="@CategoryID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
delete from Categories
where CategoryID = @CategoryID;
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="DeleteProduct">
        <Parameters>
            <Parameter Name="@ProductID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
delete from Products
where ProductID = @ProductID;
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="GetCategories">
        <Parameters />
        <CommandText><![CDATA[
select * from Categories;
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="GetProductByCategoryId">
        <Parameters>
            <Parameter Name="@CategoryID" Type="Int32" />
            <Parameter Name="@PageIndex" Type="Int32" />
            <Parameter Name="@PageSize" Type="Int32" />
            <Parameter Direction="InputOutput" Name="@TotalRecords" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
declare @ResultTable table
(
    RowIndex int,
    ProductID int,
    ProductName nvarchar(50),
    CategoryID int,
    Unit nvarchar(10),
    UnitPrice money,
    Quantity int
);
   
insert into @ResultTable
select row_number() over (order by ProductID asc) as RowIndex,
       p.ProductID, p.ProductName, p.CategoryID, p.Unit, p.UnitPrice, p.Quantity
from   Products as p
where CategoryID = @CategoryID;
     
select  @TotalRecords = count(*) from  @ResultTable;
   
select *
from   @ResultTable
where  RowIndex > (@PageSize * @PageIndex) and RowIndex <= (@PageSize * (@PageIndex+1));
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="GetProductById">
        <Parameters>
            <Parameter Name="@ProductID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
select * from Products where ProductID = @ProductID;
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="GetProductTopN">
        <Parameters>
            <Parameter Name="@TopN" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
select top (@TopN) *  from Products;
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="InsertCategory">
        <Parameters>
            <Parameter Name="@CategoryName" Type="String" Size="20" />
        </Parameters>
        <CommandText><![CDATA[
insert into Categories (CategoryName)
values( @CategoryName);
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="InsertProduct">
        <Parameters>
            <Parameter Name="@ProductName" Type="String" Size="50" />
            <Parameter Name="@CategoryID" Type="Int32" />
            <Parameter Name="@Unit" Type="String" Size="10" />
            <Parameter Name="@UnitPrice" Type="Currency" />
            <Parameter Name="@Quantity" Type="Int32" />
            <Parameter Name="@Remark" Type="String" Size="-1" />
            <Parameter Direction="InputOutput" Name="@ProductID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[insert into Products (ProductName, CategoryID, Unit, UnitPrice, Quantity, Remark) 
values( @ProductName, @CategoryID, @Unit, @UnitPrice, @Quantity, @Remark);

set @ProductID = scope_identity();
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="SearchProduct">
        <Parameters>
            <Parameter Name="@CategoryID" Type="Int32" />
            <Parameter Name="@SearchWord" Type="String" Size="50" />
            <Parameter Name="@PageIndex" Type="Int32" />
            <Parameter Name="@PageSize" Type="Int32" />
            <Parameter Direction="InputOutput" Name="@TotalRecords" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
declare @ResultTable table
(
    RowIndex int,
    ProductID int,
    ProductName nvarchar(50),
    CategoryID int,
    Unit nvarchar(10),
    UnitPrice money,
    Quantity int
);
   
if( len(@SearchWord) > 0 )
    begin
        set @SearchWord = N'%' + @SearchWord + N'%';

		if( @CategoryID > 0 )
			insert into @ResultTable
			select row_number() over (order by ProductID asc) as RowIndex,
				   p.ProductID, p.ProductName, p.CategoryID, p.Unit, p.UnitPrice, p.Quantity
			from   Products as p
			where CategoryID = @CategoryID and p.ProductName like @SearchWord;
		else
			insert into @ResultTable
			select row_number() over (order by ProductID asc) as RowIndex,
				   p.ProductID, p.ProductName, p.CategoryID, p.Unit, p.UnitPrice, p.Quantity
			from   Products as p
			where p.ProductName like @SearchWord;

    end
else
	begin
		if( @CategoryID > 0 ) 
			insert into @ResultTable
			select row_number() over (order by ProductID asc) as RowIndex,
				   p.ProductID, p.ProductName, p.CategoryID, p.Unit, p.UnitPrice, p.Quantity
			from   Products as p
			where CategoryID = @CategoryID;
		else
			insert into @ResultTable
			select row_number() over (order by ProductID asc) as RowIndex,
				   p.ProductID, p.ProductName, p.CategoryID, p.Unit, p.UnitPrice, p.Quantity
			from   Products as p ;

	end;


select  @TotalRecords = count(*) from  @ResultTable;
   
select *
from   @ResultTable
where  RowIndex > (@PageSize * @PageIndex) and RowIndex <= (@PageSize * (@PageIndex+1));
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="UpdateCategory">
        <Parameters>
            <Parameter Name="@CategoryName" Type="String" Size="20" />
            <Parameter Name="@CategoryID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
update Categories
set CategoryName = @CategoryName
where CategoryID = @CategoryID;
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="UpdateProduct">
        <Parameters>
            <Parameter Name="@ProductName" Type="String" Size="50" />
            <Parameter Name="@CategoryID" Type="Int32" />
            <Parameter Name="@Unit" Type="String" Size="10" />
            <Parameter Name="@UnitPrice" Type="Currency" />
            <Parameter Name="@Quantity" Type="Int32" />
            <Parameter Name="@Remark" Type="String" Size="-1" />
            <Parameter Name="@ProductID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
update Products 
set ProductName = @ProductName, 
    CategoryID = @CategoryID, 
    Unit = @Unit, 
    UnitPrice = @UnitPrice, 
    Quantity = @Quantity, 
    Remark = @Remark 
where ProductID = @ProductID;
]]></CommandText>
    </XmlCommand>
</ArrayOfXmlCommand>