<?xml version="1.0" encoding="utf-8"?>
<ServerOption xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <httpListener>
        <option protocol="http" port="3008" />
    </httpListener>
    <modules />
    <handlers>
        <type>ClownFish.HttpServer.Handlers.DirectoryBrowseHandlerFactory, ClownFish.HttpServer</type>
    </handlers>
    <website>
        <localPath>\\10.5.10.49\运维平台设计文档</localPath>
        <CacheDuration>31536000</CacheDuration>
        <staticFile>
            <option ext=".htm" mime="text/html" />
            <option ext=".html" mime="text/html" />
            <option ext=".js" mine="text/plain" />
            <option ext=".css" mine="text/css" />
            <option ext=".png" mine="image/png" />
            <option ext=".jpg" mine="image/jpeg" />
            <option ext=".gif" mine="image/gif" />
            <option ext=".txt" mine="text/plain" />
            <option ext=".log" mine="text/plain" />
            <option ext=".xml" mine="text/xml" />
        </staticFile>
    </website>
</ServerOption>